<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The E-Receipt Project | API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                You are seeing this page because you have used the wrong HTTP request method.
                <br/>
                <h3>Example Usage (cURL):</h3>
                <code>
                    <pre>
curl --header "Content-Type: application/json" \
--request POST \
--data '{
    "retailer": "H&M Hennes & Mauritz Pte Ltd"
    "address" : "JEM, Jurong Gateway Road #01-01 Singapore 608549",
    "gst_reg_no" : "M93217469R",
    "cashier_id" : 2729,
    "transaction_id" : 767664,
    "timestamp" : "05/02/2016 13:38:00",
    "products": [
        {
            "name": "Soap", 
            "qty": 2, 
            "price": 6.25, 
            "total": 12.50
        },
        {
            "name": "Cookies", 
            "qty": 1, 
            "price": 5.40, 
            "total": 5.40
        }
    ],
    "subtotal": 17.90,
    "gst": 1.25,
    "total": 19.15,
    "paymentMethod": "cash",
    "received": 20,
    "change": 0.85,
    "refund_policy": "Exchange and refund within 30 days with original receipt and price tag."
} ' \
http://https://e-receipt-project.herokuapp.com//api                      
                    </pre>
                </code>
            </div>
        </div>
    </div>
</body>
</html>